app-im-recent-bar {
  display: block;
  width: 25%;
  height: 35rem;
  float: left;
  background-color: #444753;
  color: #fff;
  border-radius: .5rem 0 0 .5rem;
  overflow: auto;
  .hint-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #999;
  }
}