@import 'variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/font-awesome/scss/font-awesome';
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
