@import 'variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './app.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100%;
  background-color: #fff;
  padding: 1rem .5rem;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
  .box-title {
    font-weight: 500;
    font-size: 1.5em;
  }
}

.bg-success {
  background-color: $success-color !important;
  ;
}

.bg-danger {
  background-color: $danger-color !important;
  ;
}

.bg-warn {
  background-color: $warn-color !important;
  ;
}

.bg-primary {
  background-color: $primary-color !important;
  ;
}

.monitor-chip-text {
  color: #fff !important;
}

.chip-success {
  @extend .bg-success;
  @extend .monitor-chip-text;
}

snack-bar-container {
  .mat-simple-snackbar {
    .mat-simple-snackbar-action {
      color: #ffeda8;
    }
  }
}
