app-im-head {
  display: inline-block;
  cursor: pointer;
  min-width: 3.5rem;
  min-height: 3.5rem;
  background-color: hsla(0, 2%, 77%, 0.5);
  border-radius: 50%;
  .inner {
    width: 3rem;
    height: 3rem;
    margin: .25rem auto;
    border-radius: 50%;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
  }
}
