app-im-recent-item {
  &:hover {
    background-color: #363942;
  }
  cursor: pointer;
  display: block;
  padding: .5rem;
  .head,
  .content,
  .badges-box {
    display: inline-block;
  }
  .head {
    width: 25%;
  }
  .content {
    width: 60%;
    padding: 0 .5rem;
    .name {
      font-size: 1rem;
    }
    .last-text {
      min-height: 1rem;
      color: hsla(0, 0%, 93%, 0.7);
    }
  }
  .badges-box {
    width: 10%;
    vertical-align: super;
    .badges {
      display: flex;
      width: 25px;
      height: 25px;
      align-items: center;
      justify-content: center;
      background-color: red;
      border-radius: 50%;
    }
  }
}

.item-active {
  background-color: #363942;
}