<div class="my-message" *ngIf="chat.From === selfId" fxLayout="row">
  <div class="content">
    <p class="data">
      <span class="name">{{chat.From}}</span>
    </p>
    <p class="bubble float-right">
      {{chat.Msg}}
    </p>
  </div>
  <!-- <div class="action" fxFlexAlign="center">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle-self fa-stack-1x"></i>
      <i class="fa fa-check-circle fa-stack-1x"></i>
    </span>
  </div> -->
</div>
<div class="other-message" *ngIf="chat.From !== selfId" fxLayout="row">
  <div class="content">
    <p class="data">
      <span class="name">{{chat.From}}</span>
    </p>
    <p class="bubble float-left">
      {{chat.Msg}}
    </p>
  </div>
</div>
