<app-im-history-message fxLayout="column" fxLayoutAlign="space-around" type="my"></app-im-history-message>
<app-im-history-message fxLayout="column" fxLayoutAlign="space-around" type="other"></app-im-history-message>
<app-im-history-message fxLayout="column" fxLayoutAlign="space-around" type="my"></app-im-history-message>
<app-im-history-message fxLayout="column" fxLayoutAlign="space-around" type="other"></app-im-history-message>
<app-im-history-message fxLayout="column" fxLayoutAlign="space-around" type="my"></app-im-history-message>
<app-im-history-message fxLayout="column" fxLayoutAlign="space-around" type="other"></app-im-history-message>
<app-im-history-message fxLayout="column" fxLayoutAlign="space-around" type="my"></app-im-history-message>
