<div class="search-page">
  <p class="text-center search-title">
    <span class="text-center text">Search Node Server Result</span>
    <mat-icon class="refresh" [class.refresh-process]="status === 0" (click)="refresh($event)">refresh</mat-icon>
  </p>
  <table class="search-table" *ngIf="results?.length > 0">
    <thead>
      <tr>
        <th>Node Key</th>
        <th>App Key</th>
        <th>Location</th>

        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let result of results">
        <tr *ngFor="let item of result?.result">
          <td class="key">{{item?.node_key}}</td>
          <td class="key">{{item?.app_key}}</td>
          <td>{{item?.location}}</td>
          <td>
            <button mat-raised-button color="primary" (click)="connectSocket(item?.node_key,item?.app_key)">connect</button>
          </td>
        </tr>
      </ng-container>
      <!-- <tr *ngIf="results?.length === 0">
        <td colspan="4" class="no-found">No Service</td>
      </tr> -->
    </tbody>
  </table>
  <!-- <div  class="no-found text-center">No Service</div> -->
</div>
<p class="search-foot text-right" *ngIf="results?.length > 10">
  <mat-paginator [length]="10" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</p>
