<div class="search-page">
  <p class="text-center search-title">
    <span class="text">Search Node Server Result</span>
    <mat-icon class="refresh" [class.refresh-process]="status === 0" (click)="refresh($event)">refresh</mat-icon>
  </p>
  <table class="search-table" *ngIf="results?.length > 0">
    <thead>
      <tr>
        <th>Node Key</th>
        <th>App Key</th>
        <th>Location</th>

        <th>Operation</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of results">
        <td class="key">
          <p>{{item?.node_key}}</p>
          <p class="text-right" style="color:#999;">{{getNodeVersion(item?.node_version)}}</p>
        </td>
        <td class="key">
          <p>{{item?.app_key}}</p>
          <p class="text-right" style="color:#999;">{{getAppVersion(item?.version)}}</p>
        </td>
        <td class="location">{{item?.location}}</td>
        <td>
          <button mat-raised-button style="background-color:#87bf17;color:#fff;" (click)="connectSocket(item?.node_key,item?.app_key)">connect</button>
        </td>
      </tr>

      <!-- <tr *ngIf="results?.length === 0">
        <td colspan="4" class="no-found">No Service</td>
      </tr> -->
    </tbody>
  </table>
  <!-- <div  class="no-found text-center">No Service</div> -->
</div>
<p class="search-foot text-right">
  <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[1,2]" (page)="page($event)">
  </mat-paginator>
</p>
