app-search-service {
  .search-page {
    height: 90%;
    .search-title {
      .text {
        font-size: 1.5em;
      }
      .refresh {
        color: blue;
        cursor: pointer;
        vertical-align: sub;
      }
      .refresh-process {
        animation: rotating 1s linear infinite;
      }
    }
    .search-table {
      width: 100%;
      border-collapse: collapse;
      .no-found {
        text-align: center !important;
      }
      td,
      th {
        padding: 15px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
      }
      thead {
        border-bottom: 1px solid #d0d0d0;
      }
      tbody {
        tr {
          border-bottom: 1px solid #d0d0d0;
        }
        .key {
          font-size: xx-small;
        }
      }
    }
    @keyframes rotating {
      0% {
        transform: rotate(0)
      }
      50% {
        transform: rotate(180deg)
      }
      100% {
        transform: rotate(360deg)
      }
    }
  }
}
