<!-- <div class="text-right" *ngIf="isManager">
  <button mat-icon-button color="primary" (click)="reboot($event)">
    <mat-icon aria-label="Restart">rotate_right</mat-icon>
  </button>
</div> -->
<mat-card>
  <mat-card-title>
    <span>Node Status</span>
    <small>
      <mat-icon (click)="refresh($event)">refresh</mat-icon>
    </small>
  </mat-card-title>
  <mat-card-content>
    <div class="node-key">
      Public Key:
      <strong>{{key}}</strong>
    </div>
    <mat-grid-list cols="6" rowHeight="2:1">
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Status</small>
          <mat-icon>network_check</mat-icon>
        </p>
        <p class="status-box-item-content">Online</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Type</small>
          <mat-icon>layers</mat-icon>
        </p>
        <p class="status-box-item-content">
          <mat-chip-list>
            <mat-chip style="background-color: #6b6bff; color:#fff;">{{status?.type}}</mat-chip>
          </mat-chip-list>
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Seen</small>
          <mat-icon>timelapse</mat-icon>
        </p>
        <p class="status-box-item-content">{{status?.last_ack_time | timeAgo}}</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Started</small>
          <mat-icon>av_timer</mat-icon>
        </p>
        <p class="status-box-item-content">{{status?.start_time | timeAgo}}</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Send</small>
          <mat-icon>arrow_upward</mat-icon>
        </p>
        <p class="status-box-item-content">{{status?.send_bytes | byteTo}} </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Recv</small>
          <mat-icon>arrow_downward</mat-icon>
        </p>
        <p class="status-box-item-content">{{status?.recv_bytes | byteTo}}</p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <!-- <mat-card-title>
    <span>Node Status</span>
    <small>
      <mat-icon (click)="refresh($event)">refresh</mat-icon>
    </small>
  </mat-card-title> -->
  <mat-card-content>
    <h2 class="operations-title" *ngIf="isManager">
      Operations
    </h2>
    <mat-grid-list cols="6" rowHeight="2:1" *ngIf="isManager">
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Shadowsocks</small>
        </p>
        <p class="status-box-item-content">
          <button mat-icon-button (click)="runSocketServer($event)" [ngClass]="socketColor">
            <mat-icon aria-label="Shadowsocks">near_me</mat-icon>
          </button>
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>SSH</small>
        </p>
        <p class="status-box-item-content">
          <button mat-icon-button (click)="runSSHServer($event)" [ngClass]="sshColor">
            <mat-icon aria-label="SSH">computer</mat-icon>
          </button>
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Check Update</small>
        </p>
        <p class="status-box-item-content">
          <button mat-icon-button color="primary" (click)="checkUpdate($event)">
            <mat-icon aria-label="check_update">file_download</mat-icon>
          </button>
        </p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p class="status-box-item-title">
          <small>Reboot</small>
        </p>
        <p class="status-box-item-content">
          <button mat-icon-button color="primary" (click)="reboot($event)">
            <mat-icon aria-label="Reboot">rotate_right</mat-icon>
          </button>
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="transports?.length > 0">
  <h3 class="status-app-title">
    <span>Transports</span>
    <mat-icon>compare_arrows</mat-icon>
  </h3>
  <mat-table [dataSource]="transportSource">
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="text-center" [style.flex]="'0 0 3rem'"> # </mat-header-cell>
      <mat-cell *matCellDef="let i = index" [style.flex]="'0 0 3rem'" class="text-center"> {{i + 1}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="toNode">
      <mat-header-cell *matHeaderCellDef class="text-center"> ToNode </mat-header-cell>
      <mat-cell *matCellDef="let data" class="transport-key"> {{data.to_node}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fromNode">
      <mat-header-cell *matHeaderCellDef class="text-center"> FromNode </mat-header-cell>
      <mat-cell *matCellDef="let data" class="transport-key"> {{data.from_node}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fromApp">
      <mat-header-cell *matHeaderCellDef class="text-center"> FromApp </mat-header-cell>
      <mat-cell *matCellDef="let data" class="transport-key"> {{data.from_app}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="toApp">
      <mat-header-cell *matHeaderCellDef class="text-center"> ToApp </mat-header-cell>
      <mat-cell *matCellDef="let data" class="transport-key"> {{data.to_app}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="transportColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: transportColumns;"></mat-row>
  </mat-table>
</ng-container>


<ng-container *ngIf="status?.apps?.length > 0">
  <h3 class="status-app-title">
    <span>Apps</span>
    <mat-icon>apps</mat-icon>
  </h3>
  <mat-table #table [dataSource]="appSource">
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 3rem'"> # </mat-header-cell>
      <mat-cell *matCellDef="let data" [style.flex]="'0 0 3rem'"> {{data.index}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef [style.flex]="'0 0 35rem'"> Key </mat-header-cell>
      <mat-cell *matCellDef="let data" [style.flex]="'0 0 35rem'"> {{data.key}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="app">
      <mat-header-cell *matHeaderCellDef> Apps </mat-header-cell>
      <mat-cell *matCellDef="let data">
        <mat-chip-list>
          <mat-chip class="chip-success" *ngFor="let app of data?.attributes">{{app}}</mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-container>
