<div class="client-setting">
  <mat-list class="client-setting-list">
    <h3 mat-subheader>Automatic start configuration</h3>
    <mat-list-item>
      <h4 mat-line>Start</h4>
      <mat-slide-toggle></mat-slide-toggle>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>App</h4>
      <mat-select placeholder="Favorite food">
        <mat-option value="food.value">
          Food.Value
        </mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list>
  <p class="text-right">
    <button mat-raised-button color="primary">Save</button>
  </p>
</div>
