<div class="hint-box" *ngIf="!chatting">
  <p>The chat record is empty</p>
</div>
<div class="container" *ngIf="chatting">
  <div class="message-box-head">
    <a href="javascript:void(0);" class="head-name tooltip" [attr.aria-label]="chatting">{{chatting}}</a>
  </div>
  <perfect-scrollbar class="container message-box" [config]="config">
    <app-im-history-view fxLayout="column-reverse" [list]="chatList.toArray()"></app-im-history-view>
  </perfect-scrollbar>
  <div class="send-box">
    <textarea autofocus="autofocus" [(ngModel)]="msg" rows="4" (keyup.enter)="send($event)" [perfect-scrollbar]="config"></textarea>
  </div>
</div>
