<div class="root">
  <md-grid-list cols="5" rowHeight="100%">
    <md-grid-tile [colspan]="1">
      <nav class="nav">
        <md-nav-list>
          <img src="../assets/logo.svg" alt="Sky Wire" class="nav-logo">
          <md-list-item *ngFor="let item of listitems">
            <md-icon md-list-icon fontSet="fa" fontIcon="fa-tachometer"></md-icon>
            <a mdLine href="#">{{ item }}</a>
          </md-list-item>
          <!-- <a md-list-item md-line href="#" *ngFor="let item of listitems">{{ item }} </a> -->
        </md-nav-list>
      </nav>
    </md-grid-tile>
    <md-grid-tile [colspan]="4">
      <div class="content">
        <div class="table-extran-header">
          <p class="header-col header-text">All Node</p>
          <p class="header-col text-right action-col">
            <md-icon mdTooltip="refresh" fontSet="fa" fontIcon="fa-refresh" (click)="refresh($event)"></md-icon>
          </p>
        </div>
        <md-table #table [dataSource]="dataSource" [trackBy]="TrackByKey">
          <!-- Position Column -->
          <ng-container mdColumnDef="index">
            <md-header-cell *mdHeaderCellDef [style.flex]="'0 0 7rem'"> No. </md-header-cell>
            <md-cell *mdCellDef="let data" [style.flex]="'0 0 7rem'"> {{data.index}} </md-cell>
          </ng-container>
          <ng-container mdColumnDef="type">
            <md-header-cell *mdHeaderCellDef [style.flex]="'0 0 8rem'"> Type </md-header-cell>
            <md-cell *mdCellDef="let data" [style.flex]="'0 0 8rem'">
              <md-chip-list>
                <md-chip style="background-color: #6b6bff; color:#fff;">{{data.type}}</md-chip>
              </md-chip-list>
            </md-cell>
          </ng-container>
          <!-- Name Column -->
          <ng-container mdColumnDef="key">
            <md-header-cell *mdHeaderCellDef> Key </md-header-cell>
            <md-cell *mdCellDef="let data"> {{data.key}} </md-cell>
          </ng-container>

          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
