<div class="root">
  <md-grid-list cols="5" rowHeight="100%">
    <md-grid-tile colspan="1">
      <nav class="nav">
        <md-nav-list>
          <img src="../assets/logo.png" alt="Sky Wire" class="nav-logo">
          <md-list-item *ngFor="let item of listitems" routerLinkActive="active">
            <md-icon md-list-icon fontSet="fa" fontIcon="fa-tachometer"></md-icon>
            <a mdLine routerLink="/">{{ item }}</a>
          </md-list-item>
          <!-- <a md-list-item md-line href="#" *ngFor="let item of listitems">{{ item }} </a> -->
        </md-nav-list>
      </nav>
    </md-grid-tile>
    <md-grid-tile colspan="4">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
